@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  font-family: "Gabarito", sans-serif;
}
body {
  background-image: url("./assets/bg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Add to your global CSS */
[data-aos="flip-left"].aos-animate {
  transform: rotateY(180deg) scale(1.1);
}

.portfolio-card {
  background-color: rgba(128, 128, 128, 0.173);
}

.gradient-text {
  background: linear-gradient(white, rgba(134, 78, 173));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prograss-bar::-webkit-progress-bar {
  border-radius: 15px;
  border: 1px solid gray;
  background-color: transparent;
}
.prograss-bar::-webkit-progress-value {
  border-radius: 15px;
  background: linear-gradient(to right, violet, yellow);
}
@media (max-width: 499px) {
  .prograss-bar {
    height: 12px; /* Smaller height for small screens */
  }
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(134, 78, 173);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  font-size: small;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}
input[type="file"] {
  font-size: small;
  color: #f0f0f0;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
  cursor: pointer;
}
/* nav {
    
     background-color: rgba(18, 18, 18, 0.4);
} */
nav div p {
  position: relative;
  display: inline-block;
  font-weight: 500;
  z-index: 1;
}
/* .nav-color{
   background: #FF4EC8;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* .nva-d-color{
    background: linear-gradient(to right, #FF4EC8, #8C52FF);
} */
nav div span { 
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  background: linear-gradient(to left, #c31a5b, #7129bd);
  border-radius: 8px;
  transition: 0.5s;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}
nav div p:nth-child(2):hover ~ span {
  left: 0;
  width: 190px;
}
nav div p:nth-child(3):hover ~ span {
  left: 190px;
  width: 175px;
}
nav div p:nth-child(4):hover ~ span {
  left: 365px;
  width: 135px;
}
nav div p:nth-child(5):hover ~ span {
  left: 500px;
  width: 130px;

}
nav div p:nth-child(6):hover ~ span {
  left: 630px;
  width: 100px;

}
/* #login-btn:hover {
  background: linear-gradient(45deg, #4f1919, #ff3333);
  transition: 0.8z;
} */
.wrapper {
  display: flex;
  gap: 10px;
  margin-top:125px
}
/* .wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
} */

.wrapper .button {
  display: flex; 
  align-items: center;
  justify-content: flex-start; 
  height: 50px;
  width: 50px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  /* white-space: nowrap; */
  position: relative;
  z-index: 1;
}
.wrapper .button .icons {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 50px;
  width: 50px;
   flex-shrink: 0; /*important: prevents shrinking when parent grows  */
  border-radius: 40px;
}
.wrapper .button:hover {
  width: 150px;
}
 @media (max-width: 499px) {
    .wrapper {
        margin-top: 0px;
    }
    .wrapper .button {
       
        height: 40px;
        width: 40px;
        display: grid;
    }
   
    .wrapper .button .icons {
        height: 40px;
        width: 40px;
    }
    .wrapper .button:hover .icons{
        height: 40px;
        width: 40px;
    }
    
    .wrapper .button:hover {
       height: 40px;
        width: 40px;
    }
 
}  
.wrapper .button:nth-child(1):hover .icons{
    background: #333;
}
.wrapper .button:nth-child(2):hover .icons{
    background: #0A66C2;
}
.wrapper .button:nth-child(3):hover .icons{
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icons{
    background: #4267B2;
}
.wrapper .button:nth-child(5):hover .icons{
    background: #000000;
}
.wrapper .button:nth-child(6):hover .icons{
    background: #ff0000;
}
.wrapper .button:nth-child(1) span{
    color: #333;
}
.wrapper .button:nth-child(2) span{
    color: #0A66C2;
}
.wrapper .button:nth-child(3) span{
    color: #E1306C;
}
.wrapper .button:nth-child(4) span{
    color: #4267B2;
}
.wrapper .button:nth-child(5) span{
    color: #333;
}
.wrapper .button:nth-child(6) span{
    color: #000000;
}
.wrapper .button:hover .icons .icon{
    color: #fff;
}


.wrapper .button .icons .icon {
  font-size: 25px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover span {
  opacity: 1;
  visibility: visible;
}
/* 
facebook -> #4267B2
twitter -> #1DA1F2
INSTAGRAM -> #E1306C
GITHUB -> #333
YOUTUBE -> #ff0000
*/
.wrapper .button span {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
   transition: all 0.3s ease-out;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */

}

/* button effect */
.btn {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 150px;
  height: 50px;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center center;
  cursor: pointer;
  /* box-shadow: 0 0 15px rgba(199, 21, 133, 0.6); /* subtle neon glow */
    /* border-radius: 30px;  */
}

.spn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 30px;
  color: #fff;
  transition: 1s;
}
@media (max-width: 399px) {
    .btn {
        width: 120px;
        height: 40px;
    }
    .spn {
        line-height: 40px;
        font-size: 18px;
    }
}
#front {
  transform: rotateX(0deg) translateZ(20px);
}

.btn:hover #front {
  transform: rotateX(-180deg) translateZ(20px);
}

#back {
  transform: rotateX(180deg) translateZ(20px);
}

.btn:hover #back {
  transform: rotateX(0deg) translateZ(20px);
}

#mid {
  background: linear-gradient(to left, #6a00f4, #892CDC);
}

#mid:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,  #A4508B, #5F0A87);
  border-radius: 30px;
  transform: translateZ(-1px);

  /* 
  1. #c31a5b, #7129bd 
     #ffdd1f, #c31a5b

     2. 
  */
}

.btn:hover #mid {
  transform: rotateX(-180deg);
}

